@use "layouts" as *;
@use "theme" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Space Mono", monospace;
}
input[type="number"] {
  font-family: "Space Mono", monospace;
  -moz-appearance: textfield;
}
input[type="number"]:focus {
  outline-color: $strongCyan;
  background-color: $veryLightGrayishCyan;
}
.home {
  width: 100%;
  height: 100%;
  gap: 2ch;
  background-color: $lightGrayishCyan;
  @include flex-variant(center, center, column, wrap);
  &__title {
    font-size: 1.25rem;
    color: $veryDarkCyan;
    margin-bottom: 1rem;
    opacity: 0.8;
    user-select: none;
  }
  &__title span {
    letter-spacing: 0.4rem;
    font-weight: 600;
  }
  &__title span:nth-child(1)::after {
    content: "\a";
    white-space: pre;
  }
  &__appcontainer {
    @include flex-variant(center, false, row, false);
    max-width: 60%;
    min-width: 60%;
    background-color: $white;
    border-radius: 25px;
    padding: 2rem;
    gap: 1.5ch;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  &__appcontainer--inputpanel {
    width: 50%;
    @include flex-variant(flex-start, none, column, wrap);
    gap: 0.5ch;
  }
  &__appcontainer--outputpanel {
    @include flex-variant(false, false, column, wrap);
    width: 50%;
    background-color: $veryDarkCyan;
    padding: clamp(1rem, 1.5vw, 3rem);
    gap: 2ch;
    border-radius: 20px;
    button.reset {
      background-color: $strongCyan;
      color: $veryDarkCyan;
      padding: 0.5rem;
      border: none;
      font-weight: 700;
      font-size: 18px;
      border-radius: 5px;
      margin-top: auto;
    }
  }
  &__appcontainer--inputpanel input[type="number"]:where(:not(.custom)) {
    width: 100%;
    padding: 0.5rem clamp(0.5rem, 1.5vw, 1rem);
    // border: 1px solid $veryDarkCyan;
    border-radius: 5px;
    background-color: $veryLightGrayishCyan;
    border: none;
    font-size: 24px;
    color: $veryDarkCyan;
    margin-bottom: 1rem;
    text-align: right;
  }
}
@media (hover: hover) {
  .home button.reset:hover {
    background-color: $lightGrayishCyan;
    cursor: pointer;
  }
}
.inputpanel__billsection label {
  position: relative;
  &::after {
    content: "$";
    position: absolute;
    top: 140%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: $veryDarkCyan;
    display: block;
    font-weight: 400;
    opacity: 0.5;
    font-style: italic;
    transform: scale(1.2);
    background-color: $veryLightGrayishCyan;
  }
}
.inputpanel {
  &__billsection {
    @include flex-variant(center, flex-start, column, wrap);
  }
  &__billsection label {
    // opacity: 0.5;
  }

  &__tipsection {
    @include flex-variant(space-between, center, row, wrap);
    // width: 50%;
    flex-grow: 1;
    gap: 0.5rem;
    // align-items: stretch;
  }
  &__tipsection input[type="radio"] {
    display: none;
  }
  &__tipsection label {
    // @include flex-variant(center, center, column, wrap);
    background-color: $veryDarkCyan;
    font-size: larger;
    color: $white;
    flex-grow: 1;
    padding: 0.65rem clamp(0.5rem, 1.5vw, 1rem);
    flex-basis: 6rem;
    text-align: center;
    // border-radius: 50%;
    border: 1px solid $veryDarkCyan;
    cursor: pointer;
    // margin: 0.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
  }
  &__tipsection input[type="number"].custom {
    width: 0;
    flex-basis: 6rem;
    flex-grow: 1;
    padding: 0.3rem;
    border: none;
    outline-color: $strongCyan;
    background-color: $veryLightGrayishCyan;
    text-align: right;
    font-size: 24px;
    color: $veryDarkCyan;
    border-radius: 5px;
    display: flex;
    margin: auto 0;
    padding: 0.4rem clamp(0.5rem, 1.5vw, 1rem);
    &::placeholder {
      font-size: large;
    }
  }
}
.noOfPeopleLab {
  position: relative;
}
.noOfPeopleLab::after {
  content: "";
  position: absolute;
  top: 140%;
  left: 0.5rem;

  font-size: 1.5rem;
  color: $veryDarkCyan;
  display: block;
  font-weight: 400;
  opacity: 0.75;
  font-style: italic;
  transform: scale(1.2);

  // background: url("https://icons8.com/icon/98957/user") center contain /
  //   no-repeat;
  background: url("http://www.w3.org/2000/svg") center contain / no-repeat;
}
input[type="radio"]:checked + label,
input[type="radio"] + label:hover {
  background-color: $strongCyan;
  color: $veryDarkCyan;
  border: none;
}
input[type="radio"] + label:hover {
  background-color: $lightGrayishCyan;
}
.outputpanel {
  &__tipamount {
    @include flex-variant(space-between, center, row, wrap);
    font-size: 20px;
    color: $white;
  }
  &__totalamount {
    @include flex-variant(space-between, center, row, wrap);
    font-size: 20px;
    color: $white;
  }

  &__totalamount--no,
  &__tipamount--no {
    font-size: 2rem;
    color: $strongCyan;
  }
}
:is(#nextline1, #nextline2) + span {
  font-size: 12px;
  color: $darkGrayishCyan;
  display: none;
}
:is(#nextline1, #nextline2) {
  position: relative;
}
:is(#nextline1, #nextline2)::after {
  content: "/ person";
  white-space: pre;
  position: absolute;
  top: 90%;
  left: 0;
  color: $darkGrayishCyan;
  font-size: small;
}
.totalamount--no,
.tipamount--no {
  font-size: 2.5rem;
}
@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .home {
    flex-direction: column;
    height: 100vh;
    &__title {
      margin-top: 25px;
      transform: scale(1.2);
    }
  }

  .home__appcontainer {
    flex-direction: column;
    height: 80%;
    max-width: 100%;
    margin-top: auto;
    align-items: center;
    & > * {
      width: 100%;
    }
    justify-content: space-around;
  }
  .inputpanel__billsection {
    width: 100%;
  }

  .inputpanel__tipsection input[type="number"].custom {
    flex-basis: 40%;
  }
  .inputpanel__tipsection > label {
    flex-basis: 40%;
  }
  .inputpanel__tipsection > * {
    min-height: 35px;
  }
  .home__appcontainer--outputpanel {
    padding: 2rem;
  }
  .home button.reset {
    padding: 0.75rem 0;
  }
  .home button.reset:active {
    background-color: $lightGrayishCyan;
  }
  .inputpanel__billsection label::after {
    top: 150%;
    transform: scale(2);
  }
}
.noOfPeopleLab {
  position: relative;
}
.noOfPeopleLab:after {
  content: "";
  background-image: url(/images/icon-person.svg);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 150%;
  left: 5px;
  height: 25px;
  width: 25px;
  opacity: 0.4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
